<!DOCTYPE html>
{% load static %} <!-- This is a Django template tag that loads static files // link till vår static mapp -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/style_about_page.css' %}"> <!-- Här länkar vi till vår css-fil --> 
</head>
<body class="about-page"> 
    <div class="about-container"> 
        <h1 class="about-title">Welcome to the About Page</h1>
        <p class="about-text">This project was made by<br>
            Mohamad Nweder and Felix Löhnn.<br>
            We hope that we did a good job in this course.
        </p> 
        <h3 class="about-title">Big thanks to our teachers, Darwin, Andreas, and Thomas.</h3><p class="about-text">Check out the <a href="/" class="about-link">Home</a> here</p>
    </div>
</body>
</html>
