<!DOCTYPE html>
{% load static %} <!-- This is a Django template tag that loads static files // link till vår static mapp -->
<html>
<head>
    <title>Car Booking System</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Här länkar vi till vår css-fil --> 
    <script src="{% static 'js/main.js' %}" defer></script> <!-- Här länkar vi till vår js-fil -->
</head>
<body>
    <div class="logo-container">
        <img src="{% static 'images/hv_logo.png' %}" alt="HV Logo" class="logo">
    </div>
    <h1>HV <br>car booking</h1>
    
    <!--homePage är login, sedan omvandlas den till hemsidan där man bokar-->
    {% if user.is_authenticated %}

    <div id="boxes">
        <!-- welcome Text (debug so we know who is logged in) -->
        <h2 id="authTitle">Welcome {{ user.username }}</h2>
        
        

        <!-- Logout Form -->
        <form method="POST" action="{% url 'logoutUser'%}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
    
    <!-- Car Booking -->
    <div id="boxes">
        <form id="bookingForm">
            <!-- Filter Choices -->
            <label for="brand">Car Brand:</label>
            <select id="brand" name="brand">
                <option value="">-- Select Brand --</option>
                <option value="Volvo">Volvo</option>
                <option value="BMW">BMW</option>
                {% for car in cars %}
                    <option value="{{ car.id }}">{{ car.brand }}</option>
                {% endfor %}
            </select><br><br>

            <label for="size">Car Size:</label>
            <select id="size" name="size">
                <option value="">-- Select Size --</option>
                <option value="Combi">Combi</option>
                <option value="SUV">SUV</option>
            </select><br><br>

            <label for="fuelType">Fuel Type:</label>
            <select id="fuelType" name="fuelType">
                <option value="">-- Select Fuel Type --</option>
                <option value="Fuel">Fuel</option>
                <option value="Electric">Electric</option>
            </select><br><br>

            <label for="dateFrom">Booking From:</label>
            <input type="date" id="dateFrom" name="dateFrom"><br><br>

            <label for="dateTo">Booking To:</label>
            <input type="date" id="dateTo" name="dateTo"><br><br>

            <button type="button" onclick="fetchFilteredCars()">Search Cars</button>
            <button type="button" onclick="submitBooking()">Add Booking</button>
            <button type="button" onclick="fetchBookings()">Show Bookings</button>
        </form>
    </div>
    
    <!-- Car Table -->
    <div class="cont">
        <table id="reservationTable">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Transmission</th>
                    <th>Fuel Type</th>
                    <th>Date From</th>
                    <th>Date To</th>
                </tr>
           </thead>
            <tbody>
                {% if reservations %}
                    {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.carId.brand }}</td>
                        <td>{{ reservation.carId.size }}</td>
                        <td>{{ reservation.carId.type }}</td>
                        <td>{{ reservation.carId.transmission }}</td>
                        <td>{{ reservation.carId.fuelType }}</td>
                        <td>{{ reservation.dateFrom }}</td>
                        <td>{{ reservation.dateTo }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    
    <!-- Login screen if not authenticated -->
    {% else %}
    <div id="boxes"> 
        <form id="authForm" method="POST" action="{% url 'homePage' %}">
            {% csrf_token %}
            <form>
            <h2 id="authTitle">Login</h2>
            <input type="text" id="username" name='username' placeholder='Username' required><br><br>
            <input type="password" id="password" name='password' placeholder='Password' required><br><br>
            <button type="submit">Login</button>
        </form>
        <form id="toggleAuth" action="{% url 'registerPage' %}">
            {% csrf_token %}
            <button type=submit>Register</button>
        </form>
    </div>
    {% endif %}

    
</body>
</html>

